<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>
  <img 
    src="https://cdn.discordapp.com/attachments/910586745593139230/912409460520136765/png_20211122_152913_0000.png"
    width="256"
  />
	<form action="/login" method="POST">
		Usuário:
    <br />
    <input
      type="text"
      name="username"
      placeholder="Usuário"
    />
    <br />
    Senha:
    <br />
    <input
      type="password"
      name="password"
      placeholder="Senha"
    />
    <br />
    <br />
    <input type="submit" value="Entrar/criar">
  </form>
</body>

</html>